@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid black;

  html {
    width: 100vw;
    height: 100vh;

    body {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;

      #top {
        flex: 1 0 5vh;
      }
      #content {
        flex: 1 0 auto;
        display: flex;
        flex-direction: row;

        #left {
          flex: 1 1 20vw;
        }
        #right {
          flex: 1 1 80vw;
        }
      }
    }
  }
}
